body { 
	background: url("../images/memphis-colorful.png");
}

.title {
	background-color: orange;
	padding-top: 20px;
	padding-bottom: 20px;
	color:white;
}

.instructions {
	background-color: #fcc88d;
	padding-top: 20px;
	padding-bottom: 20px;

}

.instFont {
	color: green;
}

.numToBeat {
	background-color: #418e52;
	padding-bottom: 80px;
	margin-top: 12px;
}

#displayNumber {
	padding-left: 10px;
    font-size: 34px;
}

.winLossBox {
	background-color: #69dbd7;
	padding-bottom: 38px;
	margin-top: 12px;
}

#wins {
	text-align: center;
	padding-top: 30px;
}

#losses {
	text-align: center;
}

.crystalRow {
	margin-top: 7px;
}

.crystal1 {
	background-color: #eee;
	margin: 5px;
}

.crystal2 {
	background-color: #eee;
	margin: 5px;
}

.crystal3 {
	background-color: #eee;
	margin: 5px;
}

.crystal4 {
	background-color: #eee;
	margin: 5px;
}

.totalScore {
	background-color: #48afac;
	color: white;
}

.scoreDisplay {
	background-color: #48afac;
	color: white;
	padding-bottom: 80px;
	margin-bottom: 40px;
}

#totalScoreDisplay {
	font-size: 34px;
	padding-left: 10px;
}


